<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us Form</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        .input-form{
            width: 20rem;
            max-width: 90%;
            margin: auto;
            font: inherit;

        }

    .input-form button{
        background-color: #e7e6e1;
    }
    </style>
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <ul class="main-item-lister">
                <li class="main-item"><a  href="/" >Shop</a></li>
                <li class="main-item"><a href="/add-product">Add Product</a></li>
                <li class="main-item"><a class="active" href="/contactus">Contact Us</a> </li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="input-form" action="/contactus" method="post">
            <div class="input-class">
            <label for="name" >Name:</label>
            <input type="text" name="name" id="name"><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>

            </div>
            <button type="submit">Get us call</button>
        </form>
    </main>
</body>
</html>