<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <ul class="main-item-lister">
                <li class="main-item"><a class="active" href="/" >Shop</a></li>
                <li class="main-item"><a href="/add-product">Add Product</a></li>
                <li class="main-item"><a href="/contactus">Contact Us</a> </li>
            </ul>
        </nav>
    </header>
    <main>
       <h1>My products are</h1>
       <p>List of my products...</p>
    </main>
</body>
</html>